//COLOURS
$white: rgb(249, 247, 242);
$mint: rgb(217, 235, 201);
$light-brown: rgb(156, 150, 135);
$brown: rgb(83, 75, 58);
$dark-brown: rgb(69, 62, 47);
$pine: rgb(67, 96, 64);
$black: rgb(57, 57, 57);
$light-purple: rgb(116, 56, 255);
$purple: rgb(76, 0, 255);
$dark-purple: rgb(35, 0, 139);
$lavendar: rgb(145, 152, 229);
$pale-orange: rgb(230, 100, 101);
$clear: rgb(255, 255, 255, 0);
//FONTS
$karla: "Karla", sans-serif;
$rammetto: "Rammetto One", cursive;
$monaco: "Monaco", monospace;
$spline: "Spline Sans Mono", monospace;
//MIXINS
@mixin box-shadow() {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
@mixin card-border() {
  border-radius: 1rem 1rem 1rem 1rem;
}
@mixin purple-gradient() {
  background-image: linear-gradient(
    to right,
    $light-purple,
    $purple
  );
}
//UNIVERSAL
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; // makes it easier to size/pad/margin items
}
html,
body {
  height: 100vh; // don't use min-height, it'll add another scrollbar!
  overflow-x: hidden;
}
body {
  background-color: $white; //
  position: relative;
  font-size: 1rem;
  //HEADER MODULE - WITH STYLING FOR MOBILE//
  header {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    background-color: $white;
    @include box-shadow();
    //HEADER TITLE/GRAPHIC CONTAINER//
    #header-cont {
      position: absolute;
      padding-right: 1rem;
      pointer-events: none;
      img {
        width: 4rem;
      }
    }
  }
  //HIDES DESKTOP NAV BUTTON//
  #desk-nav-icon {
    display: none;
  }
  //HIDES THE CHECKBOX <INPUT>//
  #nav-check {
    display: none;
  }
  //SLIDES NAV MENU ACROSS//
  #nav-check:checked ~ #nav-main {
    transform: translateX(0vw);
  }
  //SLIDES PAGE CONTENT ACROSS TOO//
  #nav-check:checked ~ main {
    transform: translateX(50vw);
  }
  //HAMBURGER ICON//
  #mob-nav-icon {
    z-index: 999;
    position: fixed;
    padding: 1rem;
    padding-left: 5vw; //
    font-size: 2rem;
    color: $brown;
  }
  //ACTUAL NAV MENU LIST//
  #nav-main {
    z-index: 9;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    left: -2rem;
    width: 50vw;
    height: 60vh;
    max-height: 30rem;
    padding: 2rem 0;
    background-color: $white;
    @include box-shadow();
    @include card-border();
    transform: translateX(-50vw);
    transition: 0.5s;
    &:hover {
          @include card-border();
      box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
    }
    #nav-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      list-style: none;
      li {
        padding-left: 2rem;
        text-align: center;
        font-family: $spline;
        font-size: 1.2rem;
        a {
          color: $purple;
          img {
          height: 1.5rem;
          }
        }

      }
    }
  }
  p {
    color: $black;
  }
  a {
    text-decoration: none;
    color: $purple;
  }
}
//MAIN SECTION//
main {
  background-color: $white; //
  position: relative;
  top: 4rem;
  min-width: 100vw;
  padding: 0 0 5rem 0;
  font-family: $karla;
  transform: translateX(0vw);
  transition: 0.5s;
  //BUTTON STYLING//
  .button {
    padding: 0.5rem 1rem;
    min-width: 5rem;
    border-style: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    font-family: $spline;
    color: white;
    @include purple-gradient();
    @include box-shadow();
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-position: 0 0;
    }
  }
  //CLASS FOR SECTIONS OF RELATED CONTENT//
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $white;
    .article {
      max-width: 40rem;
    }
    .top-card {
      text-align: center;
      max-width: 40rem;
      height: min-content;
      h2 {
        font-family: $spline;
        font-size: 2rem;
        color: $purple;
      }
    }
    #page-sub {
      display: none;
    }
    //PAGE CONTENTS DROPDOWN MENU//
    .nav-sub {
      margin: 1rem;
      text-align: center;
      border-radius: 50%;
      .dropdown-icon {
        font-family: $spline;
        color: $purple;
        cursor: pointer;
        transition: 0.2s;
        .down-arrows {
          transition: 0.2s;
        }
        a {
          color: $purple;
        }
        a:hover ~ .down-arrows {
          transform: translateY(0.2rem);
        }
      }
      .dropdown-list {
        display: none;
        list-style: none;
        li {
          margin: 1rem;
          a {
            font-family: $spline;
            color: $purple;
          }
        }
      }
      #dropdown-check:checked ~ .dropdown-list {
        display: block;
      }
      #dropdown-check {
        display: none;
      }
    }
    figure {
      margin: 1rem 0;
      img {
        display: block;
        margin: 1rem auto; //
        width: 100%; //
        @include card-border();
      }
    }
    //ABOUT PORTRAIT CONTAINER//
    #about-img-cont {
      align-self: center;
      padding: 0;
      margin: 0;
      img {
        max-width: 100%;
        @include card-border();
        @include box-shadow();
      }
      figcaption {
        margin-top: -1rem;
      }
    }
    //MODULAR CARD//
    .modular {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 5rem;
      height: min-content;
      width: 100%;
    }
    //CONTAINER THAT TAKES UP FULL WIDTH SO IT DOESN'T WRAP//
    .wide-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1rem 0;
      width: 100%;
    }
    //CARD STYLING//
    .card {
      display: flex;
      flex-direction: column;
      margin: 1rem 0rem;
      padding: 1rem;
      max-width: 40rem;
      background-color: $white; //
      @include card-border();
      @include box-shadow();
      transition: 0.2s;
      &:hover {
        transform: scale(1.01);
        background-color: white;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
      }
      h2,
      h3 {
        text-align: center;
        font-family: $monaco;
        color: $brown;
      }
      h2 {
        font-size: 1.3rem;
      }
      h3 {
        font-size: 1rem;
      }
      .card-list {
        text-align: center;
        margin: 1rem;
        h3 {
          font-size: 1rem;
        }
      }
      //LISTS WITHIN CARD//
      .card-list-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        div {
          margin: 0.5rem;
          ul {
            list-style: none;
            li {
              font-family: $spline;
              color: $black;
              font-size: 0.9rem;
            }
          }
        }
      }
      figure {
        img {
          width: 80%;
          max-width: 500px;
        }
      }
      .anchor {
                  position: absolute;
          top: -10rem;
      }
      label, span {
        position: relative;
        a {
          position: absolute;
          top: -10rem;
        }
      }
      ul {
        text-align: center;
        list-style: none;
        li {
          img {
            width: 80%;
            max-width: 300px;
          }
        }
      }
      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      //EXPANDABLE CARD STYLING//
      .expand {
        max-height: 20rem;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 20%
        );
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        transition: 0.5s;
      }
      .expand-icon {
        align-self: center;
        color: $purple;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $dark-purple;
        }
      }
      //EXPAND BUTTON FUNCTION//
      #expand-check1:checked ~ #card1,
      #expand-check2:checked ~ #card2,
      #expand-check3:checked ~ #card3,
      #expand-check4:checked ~ #card4,
      #expand-check5:checked ~ #card5 {
        max-height: 500rem;
        -webkit-mask-image: none;
        mask-image: none;
      }
      #expand-check1,
      #expand-check2,
      #expand-check3,
      #expand-check4,
      #expand-check5 {
        display: none;
      }
      #card2 {
        justify-self: baseline;
      }
    }
    figcaption {
      text-align: center;
      font-family: $monaco;
      font-size: 0.7rem;
    }
    .info {
      min-width: 15rem;
      text-align: center;
    }
    .card-time {
      text-align: center;
      display: block;
      font-family: $monaco;
      font-size: 0.7rem;
      color: $brown;
    }
    iframe {
      min-height: 50vh;
    }
    .doc {
      width: 100%;
    }
  }
  .logo {
    width: 50px;
    border-radius: 0%;
    transition: 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: $white;
  @include box-shadow();
  #footer-text {
    font-family: $karla;
  }
}
//HOME PAGE HERO TITLE STYLING AND ANIMATION//
#welcome-text {
  text-align: center;
  font-family: $spline;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, blue, $dark-purple, $purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: welcome-animation 2s infinite;
  &::first-letter {
    font-size: 300%;
    color: $dark-purple;
  }
}
@keyframes welcome-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

//TABLET & LANDSCAPE PHONE//
@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
    #welcome-text {
      font-size: 5rem;
    }
    #mob-nav-icon {
      padding-left: 3vw;
    }
    #nav-check:checked ~ main {
      transform: translateX(10rem);
    }
    #nav-main {
      width: 25vw;
      max-width: 10rem;
      transform: translateX(-10rem);
    }
    main {
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start; //
        flex-wrap: wrap;
        padding: 1rem 3rem;
        .card {
          justify-content: center;
        }
        .modular {
          min-width: 20rem; //
          width: 100%; //
          margin: 1rem; //
        }
        #about-img {
          max-width: 500px;
        }
      }
    }
  }
}

//DESKTOP//
@media only screen and (min-width: 992px) {
  body {
    position: relative; //
    //MODIFICATIONS TO HEADER MODULE FOR LARGER SCREENS//
    header {
      position: relative;
      height: 7rem;
      box-shadow: none;
      #header-cont {
        transform: scale(1.5);
        padding-right: 5rem;
        img {
          width: 6rem;
        }
      }
    }
    //MODIFICATIONS TO NAV SYSTEM//
    #nav-button {
      position: absolute;
      top: 0;
      text-align: center;
      line-height: 300%;
      #mob-nav-icon {
        display: none;
      }
      #desk-nav-icon {
        z-index: 999;
        display: inline-block;
        position: fixed;
        padding: 2rem 0 2rem 1rem;
        font-size: 2rem;
        color: $brown;
        transition: 1s;
        #menu-text {
          position: absolute;
          top: -3rem;
          left: -3rem;
          width: 10rem;
          font-family: $monaco;
          font-size: 2rem;
          border-radius: 50%;
          transform: rotate(-10deg);
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            transform: rotate(-25deg);
          }
          &::selection {
            background-color: transparent;
          }
        }
      }
    }
    #nav-main {
      top: 2rem;
      max-width: 13rem;
      height: 60vh;
      margin-bottom: 10rem;
      transform: translateX(-13rem); //
      align-items: center;
      li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: 1rem;
        a {
          transition: 0.2s;
        }
        a:hover {
          transform: translateX(0.5rem);
        }
      }
    }
    #nav-check:checked ~ #nav-main {
      transform: translateX(0);
    }
    #nav-check:checked ~ main {
      transform: translateX(13rem);
    }
    main {
      top: 0;
      padding-left: 5rem;
      .content {
        flex-wrap: wrap;
        .flex-cont{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          max-height: 50rem;
        }
        .top-card {
          width: 100%;
          max-width: 40rem;
          h2 {
            font-size: 3rem;
          }
        }
        .modular {
          width: 40%; //
        }
        //GALLERY SIZE MODULAR CARD//
        .gallery {
          max-width: 20rem; //
        }
        .column {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          width: 40%;
          .card {
            width: 100%;
            min-width: 20rem;
            .button {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  .button {
    transform: scale(1.2);
  }
}
