//COLOURS
$white: white;
$mint: rgb(217, 235, 201);
$brown: rgb(137, 126, 109);
$pine: rgb(67, 96, 64);
$black: rgb(22, 22, 22);
$purple: rgb(64, 0, 255);
$dark-purple: rgb(53, 0, 213);
$lavendar: rgb(145, 152, 229);
$pale-orange: rgb(230, 100, 101);
$clear: rgb(255,255,255,0);
//FONTS
$karla: 'Karla', sans-serif;
$eczar: 'Eczar', serif;
$rammetto: 'Rammetto One', cursive;
$unica: 'Unica One', cursive;
$dela: 'Dela Gothic One', cursive;
$cousine: 'Cousine', monospace;
$monaco: 'Monaco', monospace;
////////MIXINS
//MOBILE
@mixin card() {
        border-radius: 2em 2em 2em 2em;   
        padding: 2em;
        margin: 0em;
        margin-top: 2em;
        background-color: rgb(242, 253, 241, 0.1); // no $ cos adjust
        h2 {
            color: $pine;
            text-align: left;
            left: 2em;
        }
}
@mixin card-border() {
    border-radius: 2em 2em 2em 2em;
}
@mixin mob-button() {
        background-color: $purple;
        color: $white;
        border-radius: 0.4em 0.4em 0.4em 0.4em;
        font-size: 1em;
        padding: 0.5em;
        border: none; // removed default "button" border
}

//DESKTOP
@mixin card-desk() {
        @include card(); // includes the card @mixin
        background-color: rgb(242, 253, 241, 0.1);
        margin: 2em 0em 0em 2em;
        width: 100vw;
        max-height: 40vw; //USING MAX-HEIGHT INSTEAD OF HEIGHT ALLOWS TRANSITION
        transition: 0.5s; // > AND FIXED FLICKERING IN BETWEEEN SECTIONS!
        overflow: hidden; // make cards only hold so much text...
        position: relative; // then have a hacky "fade-out" effect
        h2 {
            color: $pine;
        }
    }
@mixin desk-button() {
    background-color: rgb(53, 0, 213);
    color: $white;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    transition: 0.1s;
    &:hover { // & selects pseudo-selector in a mixin!
        cursor: pointer;
        background-color: $purple;
    }
}




















* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box; // makes it easier to size/pad/margin items
}

html, body {
	min-height: 100vh;
}

body {
    position: relative; // allows me to {fix} other items
    background-color: $white; // just in case gradient doesn't work
    font-family: $karla;
    font-size: 16px;
    background-image: radial-gradient(circle at bottom right, #e66465 10%, $white, $white); // red circle gradient from bottom right
    background-attachment: fixed; /// !FIXES BACKGROUND GRADIENT WHEN SCROLL!
}

//////// HEADER MODULE
header {
    position: fixed; // keeps header/navbar at top when scrolling
    z-index: 3; // layers elements depending on index value
    top: 0; // prevents header from dropping when I adjust <main>!
    width: 100vw;
    height: 5.8em;
    background-color: $white;
    backdrop-filter: blur(.2em); // !h1 un-fixes when I remove???!
    box-shadow: 0 0 0.2em gray; // slight box shadow
    h1 {
        z-index: 2; // title on top of shape
        position: fixed;
        top: 0.9em;
        right: 2.2em;
        font-family: $cousine;
        font-size: 1.5em;
        color: $purple;
        padding: 0.3em;
        padding-right: 0.6em;
        transition: 0.2s;
        mix-blend-mode: multiply; // darkens title when meets brown square
        transform: scale(2, 1) skewX(10deg); // skews title
    }
    #head-square {
        position: fixed;
        top: -4em;
        right: -2em;
        background-color: $brown;
        height: 9em;
        width: 15em;
        transform: skew(10deg, 15deg) rotateX(50deg);
    }
    #head-circle {
        position: fixed;
        top: -9em;
        left: -6em;
        height: 13em;
        width: 13em;
        background-color: $mint;
        border-radius: 50%;
    }
}

////////////MOBILE NAV MENU
#nav-mob {
    z-index: 100;
    #nav-icon-mob {
        z-index: 100;
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        font-size: 3em;
        color: $brown;
    }
    #nav-links-mob {
        position: fixed;
        top: 5.1em;
        // left: -22.2em;
        left: -30em;
        transition: 0.2s;
        ul {
            position: relative;
            z-index: 100; // remove if page name doesnt dissappear
            height: 100vh; //makes the sidebar take up full vertical height
            padding-right: 5em;
            width: 100vw;
            background-color: $white;
            box-shadow: 0em 0em 1em 5em $white;
        }
            li {
                list-style: none;
                font-family: $karla;
                font-size: 3em;
                // text-shadow: $lavendar 5px 5px 1px;
                // border: 3px solid $pine;
                padding: .3em .3em .3em 3.5em;
                transition: 0.5s;
                a, a:visited {
                    text-decoration: none;
                    color: $brown;
                    font-style: italic;
                }
        }
        // li:hover {
        //     // opacity: 95%; //ADD TO DESK
        // }
    }
    #show {
        display: none;
    }
    #show:checked ~ #nav-links-mob {
        display: block;
        transform: translateX(25em);
    }
}

#menu-button,
#menu-text,
#nav-cont {
    display: none;
}






///////MAIN SECTION    
main {
    margin: 2em;
    margin-top: 7em;
    margin-bottom: 5em;
}
.mob-page-sub {
    display: block;
    position: absolute;
    z-index: 1;
    top: 4.1em;
    right: 1em;
    font-family: $monaco;
    color: $dark-purple;
}
.desk-page-sub {
    display: none;
}

.card {
    @include card();
    background-color: rgb(242, 253, 241, 0.1);
}


/////ABOUT ME PAGE MOBILE
#about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    @include card-border();
}
#about-card {
    @include card();
}
#about-buttons { 
        display: flex;
        justify-content: space-between;
        padding: 2em;
    #personal-button-cont {
        display: inline;
            #personal-button {
                @include mob-button();
                display: inline;
            }
    }
    #projects-button-cont {
        display: inline;
            #projects-button {
                @include mob-button();
                display: inline;
            }
    }
}


p {
    font-size: 1.2em; // make a bit easier to read on mobile
}

.blog-time {
    color: $brown;
}


//////FOOTER/CONTACT BAR
footer {
    position: fixed;
    bottom: 0em;
    text-align: center;
    background-color: $white;
    width: 100vw;
    box-shadow: 0 0 0.2em gray;
    form {
        background-color: $white;
        width: 3em;
        height: 3em;
        bottom: 0em;
    }
    #contact-button {
        @include mob-button();
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
    }
}


#expand-1,
#expand-icon-1,
#expand-text-1 {
    display: none;   ////////// card expand text/icon not on mobile
}
#expand-2,
#expand-icon-2,
#expand-text-2 {
    display: none;   ////////// card expand text/icon not on mobile
}
#expand-3,
#expand-icon-3,
#expand-text-3 {
    display: none;   ////////// card expand text/icon not on mobile
}
#expand-4,
#expand-icon-4,
#expand-text-4 {
    display: none;   ////////// card expand text/icon not on mobile
}
#expand-5,
#expand-icon-5,
#expand-text-5 {
    display: none;   ////////// card expand text/icon not on mobile
}







//////////////////////////////////////////////////////////////////////////////////








//// DESKTOP VERSION

@media only screen and (min-width: 800px) {
    //////HEADER MODIFICATIONS FOR DESKTOP
    header {
        position: relative;
        overflow: hidden !important;
        width: 100vw;
        height: 15em;
        box-shadow: none; // removes shadow under mobile header 
        background-color: $clear; // transparent background so gradient shows
        h1 {
            font-size: 3.5em;
            top: 0.4em;
            right: 3em;
            font-family: $cousine;
        }
        h1:hover {
        transform: scale(1.5) // hover title animation
        }
        #head-circle {
            position: fixed;
            left: -3em;
        }
        #head-square {
            position: absolute;
            top: -8em;
            right: -8em;
            background-color: $brown;
            height: 18em;
            width: 30em;
        }
    }

///////////////// DESKTOP MENU
#nav-mob {
    display: none;
}
#nav-cont {
    display: block;
        position: absolute;
        left: -30vw;
        background-color: $white;
        height: 50em;   // 100vh wouldn't work! // added rounded/sloped bottom
        width: 30vw;
        transition: 0.5s;
        box-shadow: -1em 2em 1em 1em gray;
        border-radius: 0 0 40em 0;  // ^^^^^
}
#menu-button:checked ~ #nav-cont {
        position: absolute;                 // slides menu right
        transform: translateX(12.5em);
        // width: 20vw;
}
#menu-button:checked ~ main {               // slides main right
        transform: translateX(12.5em);
};

#nav-list {
    display: block;
    text-align: right;
    padding: 2em;
    padding-right: 0.5em;
    font-size: 1.5em;
    font-family: $monaco;
    a, a:visited {
        text-decoration: none;
        color: black;
        transition: 0.1s;
    }
    a:hover {
        color: $purple;
        text-transform: lowercase;
    }
    a:hover::before {
        content: 'cd ./';
    }
}
#portrait {
    width: 5em;
    margin: -2em 1em 0 0;
    border-radius: 50%;
    border: 2px $brown solid;
}
#menu-text {
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 1em;
    z-index: 50;
    font-size: 3em;
    transition: 0.1s;
}
#menu-text:hover {
    cursor: pointer;
    transform: translatex(0.3em);
}
#arrow {
    position: absolute;
    left: 0.1em;
    -webkit-text-stroke: 8px $white;
    transform: scale(1.2, 1);
}

#menu-button {
    display: none;
}

///////////////////////






    body {
        background-image: radial-gradient(circle at bottom right, #e66465 -30%, $white, $white); // circle gradient from bottom right
        overflow-x: hidden; // REMOVES HORIZONTAL SCROLLBAR
    }
    main {
        position: relative;
        margin-bottom: 10em;  // adds space to bottom of main so clears footer
        margin-top: -2em;
        transition: 0.5s;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .mob-page-sub {
        display: none;
    }
    .desk-page-sub {
        display: block;
        position: absolute;
        top: 8em;
        font-family: $monaco;
        font-size: 1.2em;
        color: $dark-purple;
    }
    .card {
        @include card-desk(); // includes the card @mixin
        background-color: rgb(242, 253, 241, 0.1);
        margin: 2em 0em 0em 2em;
        width: 100vw;
        max-height: 40vw; //USING MAX-HEIGHT INSTEAD OF HEIGHT ALLOWS TRANSITION
        transition: 0.5s; // > AND FIXED FLICKERING IN BETWEEEN SECTIONS!
        overflow: hidden; // make cards only hold so much text...
        position: relative; // then have a hacky "fade-out" effect
        h2 {
            color: $pine;
        }
    }


////////// JOURNAL PAGE
    #sec-1 {
        -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
    #sec-2 {
        -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
    #sec-3 {
        -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
    #sec-4 {
        -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
    #sec-5 {
        -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
////////EXPAND FEATURE   
        .expand-1 {
            z-index: 50;
            display: inline-block;
            opacity: 1;
            color: $purple;
            font-size: 1.5em;
            position: relative;   //// allowed icons
            left: 28.5em;         //// to move when
            top: 3.5em;           //// expanded!
        }
        #expand-1 {
            display: none;
            // transition: 2s;
        }
        #expand-1:checked ~ #sec-1 { //EXPANDS SECTION WHEN CLICK ICON
            background-color: $white;
            width: 100vw;
            max-height: 100em;   /////////// THIS ANIMATED THE TRANSITION IN HEIGHT!
            flex-wrap: nowrap;
            -webkit-mask-image: none; // turn off transparent gradient
            mask-image: none;
        }
        #expand-icon-1 {
            display: inline-block;
            font-family: 'Monaco', monospace;
            font-size: 1em;
            top: 5.5em;   //// moves text with icon
            left: 40vw; //// moves text with icon
            opacity: 0.2;
            transition: 0.1s;
        }
        #expand-icon-1:hover {
            transform: scale(1.02); // grows icon
            opacity: 0.5;
        }
        ////////
        ////////SECTION 2
        .expand-2 {
            z-index: 50;
            display: inline-block;
            opacity: 1;
            color: $purple;
            font-size: 1.5em;
            position: relative;   //// allowed icons
            left: 28.5em;         //// to move when
            top: 3.5em;           //// expanded!
        }
        #expand-2 {
            display: none;
            // transition: 2s;
        }
        #expand-2:checked ~ #sec-2 { //EXPANDS SECTION WHEN CLICK ICON
            background-color: $white;
            width: 100vw;
            max-height: 100em;   /////////// THIS ANIMATED THE TRANSITION IN HEIGHT!
            flex-wrap: nowrap;
            -webkit-mask-image: none; // turn off transparent gradient
            mask-image: none;
        }
        #expand-icon-2 {
            display: inline-block;
            font-family: 'Monaco', monospace;
            font-size: 1em;
            top: 5.5em;   //// moves text with icon
            left: 40vw; //// moves text with icon
            opacity: 0.2;
            transition: 0.1s;
        }
        #expand-icon-2:hover {
            transform: scale(1.02); // grows icon
            opacity: 0.5;
        }
        /////////SECTION 3
        .expand-3 {
            z-index: 50;
            display: inline-block;
            opacity: 1;
            color: $purple;
            font-size: 1.5em;
            position: relative;   //// allowed icons
            left: 28.5em;         //// to move when
            top: 3.5em;           //// expanded!
        }
        #expand-3 {
            display: none;
            // transition: 2s;
        }
        #expand-3:checked ~ #sec-3 { //EXPANDS SECTION WHEN CLICK ICON
            background-color: $white;
            width: 100vw;
            max-height: 100em;   /////////// THIS ANIMATED THE TRANSITION IN HEIGHT!
            flex-wrap: nowrap;
            -webkit-mask-image: none; // turn off transparent gradient
            mask-image: none;
        }
        #expand-icon-3 {
            display: inline-block;
            font-family: 'Monaco', monospace;
            font-size: 1em;
            top: 5.5em;   //// moves text with icon
            left: 40vw; //// moves text with icon
            opacity: 0.2;
            transition: 0.1s;
        }
        #expand-icon-3:hover {
            transform: scale(1.02); // grows icon
            opacity: 0.5;
        }
        ////////SECTION 4
        .expand-4 {
            z-index: 50;
            display: inline-block;
            opacity: 1;
            color: $purple;
            font-size: 1.5em;
            position: relative;   //// allowed icons
            left: 28.5em;         //// to move when
            top: 3.5em;           //// expanded!
        }
        #expand-4 {
            display: none;
            // transition: 2s;
        }
        #expand-4:checked ~ #sec-4 { //EXPANDS SECTION WHEN CLICK ICON
            background-color: $white;
            width: 100vw;
            max-height: 100em;   /////////// THIS ANIMATED THE TRANSITION IN HEIGHT!
            flex-wrap: nowrap;
            -webkit-mask-image: none; // turn off transparent gradient
            mask-image: none;
        }
        #expand-icon-4 {
            display: inline-block;
            font-family: 'Monaco', monospace;
            font-size: 1em;
            top: 5.5em;   //// moves text with icon
            left: 40vw; //// moves text with icon
            opacity: 0.2;
            transition: 0.1s;
        }
        #expand-icon-4:hover {
            transform: scale(1.02); // grows icon
            opacity: 0.5;
        }
        /////////SECTION 5
        .expand-5 {
            z-index: 50;
            display: inline-block;
            opacity: 1;
            color: $purple;
            font-size: 1.5em;
            position: relative;   //// allowed icons
            left: 28.5em;         //// to move when
            top: 3.5em;           //// expanded!
        }
        #expand-5 {
            display: none;
            // transition: 2s;
        }
        #expand-5:checked ~ #sec-5 { //EXPANDS SECTION WHEN CLICK ICON
            background-color: $white;
            width: 100vw;
            max-height: 100em;   /////////// THIS ANIMATED THE TRANSITION IN HEIGHT!
            flex-wrap: nowrap;
            -webkit-mask-image: none; // turn off transparent gradient
            mask-image: none;
        }
        #expand-icon-5 {
            display: inline-block;
            font-family: 'Monaco', monospace;
            font-size: 1em;
            top: 5.5em;   //// moves text with icon
            left: 40vw; //// moves text with icon
            opacity: 0.2;
            transition: 0.1s;
        }
        #expand-icon-5:hover {
            transform: scale(1.02); // grows icon
            opacity: 0.5;
        }

    //////////////

    ///// HOVER TO FOCUS SECTION v2
    .card:hover {  // increases opacity when hover over section
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        }
    #expand-1:hover ~ #sec-1 { // keeps the opacity when hover over icon too
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        flex-wrap: nowrap;
    }
    #expand-2:hover ~ #sec-2 { // keeps the opacity when hover over icon too
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        flex-wrap: nowrap;
    }
    #expand-3:hover ~ #sec-3 { // keeps the opacity when hover over icon too
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        flex-wrap: nowrap;
    }
    #expand-4:hover ~ #sec-4 { // keeps the opacity when hover over icon too
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        flex-wrap: nowrap;
    }
    #expand-5:hover ~ #sec-5 { // keeps the opacity when hover over icon too
        background-color: $white;
        box-shadow: gray 0em 0em 2em;
        width: 100vw;
        flex-wrap: nowrap;
    }
    ////////////////

/////////ABOUT PAGE DESKTOP
/////ABOUT ME PAGE
#about-img-cont {
    @include card-desk();
        background: none;
        display: flex; 
        flex-direction: row;
        justify-content: center;
    #about-img {
        @include card-border();
        max-width: 50vw;
    }
}
#about-card {
    @include card-desk();
    max-height: min-content;
}
#about-buttons { 
        @include card-desk();
        background: none;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    #personal-button-cont {
            #personal-button {
                @include desk-button();
            }
    }
    #projects-button-cont {
            #projects-button {
                @include desk-button();
            }
    }
}








    p{
        font-size: 1.2em;
    }

    p::selection { // changes text highlight colour
        background-color: white; 
    }

    ::selection { // turns off text highlight for pseudo "buttons"
        background: none;
    }
    
    footer {
        position: fixed;
        bottom: 0em;
        text-align: center;
        background-color: $white;
        width: 150vw;
        border: rgb(183, 183, 183) 1px solid;
        form {
            background-color: $white;
            width: 3em;
            height: 3em;
            bottom: 0em;
        }
        #contact-button {
            @include desk-button();
            position: fixed;
            bottom: 0.5em;
            right: 0.5em;
        }
    }




}

///////////////////////////////////////