time {
  font-family: "Monaco", monospace;
  font-size: 0.7em;
  color: gray;
  font-style: italic;
}

.card-modular-img {
  margin: 0 auto;
}
.card-modular-img img {
  margin: 0 auto;
  width: 100%;
  border-radius: 1em 1em 1em 1em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

.blog-time {
  color: rgb(137, 126, 109);
}

#personal-li {
  text-decoration: line-through;
}

body {
  position: relative;
  background-color: white;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  height: 5em;
  background-color: white;
  backdrop-filter: blur(0.2em);
  box-shadow: 0 0 0.2em gray;
}
header h1 {
  z-index: 3;
  align-self: center;
  margin-left: 0.5em;
  padding: 0.3em;
  padding-right: 0.6em;
  font-family: "Rammetto One", cursive;
  font-size: 1.7em;
  color: rgba(49, 49, 49, 0.867);
  transition: 0.3s;
  mix-blend-mode: multiply;
}
header #head-circle {
  display: none;
}

#nav-cont-mob {
  z-index: 3;
}
#nav-cont-mob #nav-icon-mob {
  z-index: 999;
  position: fixed;
  top: 0.5em;
  right: 0.7em;
  font-size: 2.5em;
  color: rgba(49, 49, 49, 0.867);
}
#nav-cont-mob #nav-links-mob {
  z-index: 2;
  position: fixed;
  top: 5.1em;
  left: -30em;
  transition: 0.3s;
}
#nav-cont-mob #nav-links-mob .nav-list,
#nav-cont-mob #nav-links-mob #nav-list-mob {
  position: relative;
  height: 100vh;
  padding-right: 5em;
  max-width: 400px;
  background-color: white;
  box-shadow: 0em 0em 1em 5em white;
}
#nav-cont-mob #nav-links-mob li {
  list-style: none;
  font-family: "Karla", sans-serif;
  font-size: 3em;
  padding: 0.3em 0.3em 0.3em 3.5em;
  transition: 0.3s;
}
#nav-cont-mob #nav-links-mob li a,
#nav-cont-mob #nav-links-mob li a:visited {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.867);
}
#nav-cont-mob #nav-button-mob {
  display: none;
}
#nav-cont-mob #nav-button-mob:checked ~ #nav-links-mob {
  display: block;
  transform: translateX(25em);
}

#nav-button-desk,
#menu-text-desk,
#nav-cont-desk {
  display: none;
}

main {
  margin: 2em;
  margin-top: 7em;
  margin-bottom: 5em;
}

p {
  font-size: 1.2em;
}

.card {
  border-radius: 2em 2em 2em 2em;
  padding: 2em;
  background-color: rgba(242, 253, 241, 0.1);
  color: rgba(49, 49, 49, 0.867);
  margin: 2em -2em 0em -2em;
  background-color: rgba(242, 253, 241, 0.1);
}
.card h2 {
  color: rgb(67, 96, 64);
  text-align: left;
  left: 2em;
}

.card-modular {
  border-radius: 2em 2em 2em 2em;
  padding: 2em;
  background-color: rgba(242, 253, 241, 0.1);
  color: rgba(49, 49, 49, 0.867);
  margin: 2em -2em 0em -2em;
  width: 80vw;
  margin: 2em auto 0em auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
}
.card-modular h2 {
  color: rgb(67, 96, 64);
  text-align: left;
  left: 2em;
}
.card-modular time {
  font-family: "Monaco", monospace;
  font-size: 0.7em;
  color: gray;
  font-style: italic;
}
.card-modular .card-modular-img {
  margin: 0 auto;
}
.card-modular .card-modular-img img {
  margin: 0 auto;
  width: 100%;
  border-radius: 1em 1em 1em 1em;
}

.card-expand {
  border-radius: 2em 2em 2em 2em;
  padding: 2em;
  background-color: rgba(242, 253, 241, 0.1);
  color: rgba(49, 49, 49, 0.867);
  margin: 2em -2em;
}
.card-expand h2 {
  color: rgb(67, 96, 64);
  text-align: left;
  left: 2em;
}

.mob-page-sub {
  display: block;
  position: absolute;
  top: 4.1em;
  right: 1em;
  font-family: "Monaco", monospace;
  color: rgb(53, 0, 213);
}

.desk-page-sub {
  display: none;
}

#about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 2em 2em 2em 2em;
}

#about-buttons {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
#about-buttons .button-cont {
  display: inline;
}
#about-buttons .button-cont .button {
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: rgb(53, 0, 213);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border: none;
  position: relative;
  display: inline;
}

.contact-card {
  text-align: center;
}

#logos-card {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0em;
  left: -2em;
}
#logos-card img {
  display: inline;
  max-height: 50px;
}

.download-button {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.download-button a,
.download-button a:visited {
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: rgb(53, 0, 213);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border: none;
  position: relative;
  text-decoration: none;
  color: white;
}

#resume-iframe {
  margin: auto;
  display: inline-block;
  height: 100vh;
  width: 100%;
}

footer {
  z-index: 5;
  position: fixed;
  bottom: 0em;
  text-align: center;
  background-color: white;
  width: 100vw;
  box-shadow: 0 0 0.2em gray;
}
footer form {
  background-color: white;
  width: 3em;
  height: 3em;
  bottom: 0em;
}
footer #contact-button {
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: rgb(53, 0, 213);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border: none;
  position: relative;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.expand-icon,
#expand-check-1,
#expand-check-2,
#expand-check-3,
#expand-check-4,
#expand-check-5 {
  display: none;
}

@media only screen and (max-width: 280px) {
  .card-expand {
    padding: 1em;
  }

  .card {
    margin: 0em -3em;
  }

  .contact-card {
    text-align: center;
    word-wrap: break-word;
  }
}
@media only screen and (min-width: 540px) and (max-width: 912px) {
  #nav-cont-mob #nav-links-mob .nav-list,
#nav-cont-mob #nav-links-mob #nav-list-mob {
    z-index: 3;
    max-width: 400px;
    left: -5em;
  }
  #nav-cont-mob #nav-links-mob li {
    position: relative;
    right: -2em;
    font-size: 2.7em;
  }

  #about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 2em 2em 2em 2em;
  }
}
@media only screen and (min-width: 913px) {
  body {
    overflow-x: hidden;
  }

  main {
    position: relative;
    margin-bottom: 10em;
    margin-top: -2em;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mob-page-sub {
    display: none;
  }

  .desk-page-sub {
    display: block;
    position: absolute;
    top: 8em;
    left: 0em;
    font-family: "Monaco", monospace;
    font-size: 1.2em;
    color: rgb(137, 126, 109);
    writing-mode: vertical-lr;
  }

  #contact-sub-page-desk {
    word-wrap: break-word;
    overflow-y: visible;
  }

  .card {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    background-color: rgba(242, 253, 241, 0.1);
    color: rgba(49, 49, 49, 0.867);
    margin: 2em 0em 0em 2em;
    width: 100vw;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    max-height: none;
  }
  .card h2 {
    color: rgb(67, 96, 64);
    text-align: left;
    left: 2em;
  }
  .card:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
    width: 100vw;
  }

  .card-modular {
    border-radius: 2em 2em 2em 2em;
    position: relative;
    box-shadow: none;
    height: min-content;
    margin: 4em 0em 0em 2em;
    width: 40vw;
    transition: 0.3s;
    overflow: hidden;
  }
  .card-modular:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
  }

  .card:hover,
.card-modular:hover,
.card-expand:hover {
    transform: scale(1.015);
  }

  .card-expand {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    background-color: rgba(242, 253, 241, 0.1);
    color: rgba(49, 49, 49, 0.867);
    margin: 2em 0em 0em 2em;
    width: 100vw;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    max-height: 30vh;
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
  .card-expand h2 {
    color: rgb(67, 96, 64);
    text-align: left;
    left: 2em;
  }
  .card-expand:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
    width: 100vw;
  }

  .expand-icon {
    z-index: 1;
    position: relative;
    display: inline-block;
    font-family: "Monaco", monospace;
    font-size: 1em;
    top: 5.5em;
    left: 40vw;
    transition: 0.3s;
    color: rgb(53, 0, 213);
  }

  .expand-icon:hover {
    transform: scale(1);
    color: rgb(64, 0, 255);
  }

  #expand-check-1:hover ~ #journal-card-1,
#expand-check-2:hover ~ #journal-card-2,
#expand-check-3:hover ~ #journal-card-3,
#expand-check-4:hover ~ #journal-card-4,
#expand-check-5:hover ~ #journal-card-5 {
    transform: scale(1.015);
  }

  #expand-check-1,
#expand-check-2,
#expand-check-3,
#expand-check-4,
#expand-check-5 {
    display: none;
  }

  #expand-check-1:checked ~ #journal-card-1,
#expand-check-2:checked ~ #journal-card-2,
#expand-check-3:checked ~ #journal-card-3,
#expand-check-4:checked ~ #journal-card-4,
#expand-check-5:checked ~ #journal-card-5 {
    max-height: 100em;
    -webkit-mask-image: none;
    mask-image: none;
    transform: scale(1.015) translateY(15px);
  }

  #expand-check-1:checked ~ .expand-icon,
#expand-check-2:checked ~ .expand-icon,
#expand-check-3:checked ~ .expand-icon,
#expand-check-4:checked ~ .expand-icon,
#expand-check-5:checked ~ .expand-icon {
    transform: scale(1.015) translateY(10px);
  }

  p {
    font-size: 1.2em;
  }

  p::selection {
    background-color: rgb(217, 235, 201);
  }

  ::selection {
    background: none;
  }

  header {
    position: relative;
    flex-direction: row-reverse;
    overflow: hidden !important;
    width: 100vw;
    height: 10em;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
  }
  header h1 {
    font-size: 4em;
    justify-self: flex-end;
  }
  header #head-circle {
    position: fixed;
    top: -11em;
    right: -6em;
    width: 20em;
    height: 20em;
  }

  #nav-cont-mob {
    display: none;
  }

  #menu-text-desk {
    display: inline-block;
    position: absolute;
    top: 3em;
    left: 1em;
    z-index: 3;
    font-size: 1.5em;
    transition: 0.1s;
  }

  #menu-text-desk:hover {
    cursor: pointer;
    transform: translatex(0.3em);
  }

  #arrow {
    position: absolute;
    font-size: 2em;
    left: 0.1em;
    top: 0.3em;
    -webkit-text-stroke: 8px white;
    transform: scale(1.2, 1);
  }

  #nav-button-desk:checked ~ #nav-cont-desk,
#nav-button-desk:checked ~ main {
    transform: translateX(12.5em);
  }

  #nav-button-desk:checked ~ main {
    position: absolute;
  }

  #nav-cont-desk {
    border-radius: 2em 2em 2em 2em;
    display: block;
    position: absolute;
    left: -30vw;
    background-color: white;
    height: 50em;
    width: 30vw;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
  }

  .nav-list,
#nav-list-desk {
    display: block;
    text-align: right;
    padding: 2em;
    padding-right: 0.5em;
    font-size: 1.5em;
    font-family: "Monaco", monospace;
  }
  .nav-list a,
.nav-list a:visited,
#nav-list-desk a,
#nav-list-desk a:visited {
    text-decoration: none;
    color: rgba(49, 49, 49, 0.867);
    transition: 0.3s;
  }
  .nav-list a:hover,
#nav-list-desk a:hover {
    color: rgb(64, 0, 255);
    text-transform: lowercase;
  }
  .nav-list a:hover::before,
#nav-list-desk a:hover::before {
    content: "cd ./";
  }
  .nav-list #portrait,
#nav-list-desk #portrait {
    width: 5em;
    margin: 2em 1em 0 0;
    border-radius: 50%;
    border: 2px rgb(137, 126, 109) solid;
  }

  #about-img-cont {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    background-color: rgba(242, 253, 241, 0.1);
    color: rgba(49, 49, 49, 0.867);
    margin: 2em 0em 0em 2em;
    width: 100vw;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #about-img-cont h2 {
    color: rgb(67, 96, 64);
    text-align: left;
    left: 2em;
  }
  #about-img-cont:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
    width: 100vw;
  }
  #about-img-cont #about-img {
    border-radius: 2em 2em 2em 2em;
    max-width: 50vw;
    transition: 0.3s;
    filter: saturate(0.8);
  }
  #about-img-cont #about-img:hover {
    transform: scale(1.1);
    filter: saturate(1);
  }

  #about-img-cont:hover {
    box-shadow: none;
  }

  #about-buttons {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    background-color: rgba(242, 253, 241, 0.1);
    color: rgba(49, 49, 49, 0.867);
    margin: 2em 0em 0em 2em;
    width: 100vw;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #about-buttons h2 {
    color: rgb(67, 96, 64);
    text-align: left;
    left: 2em;
  }
  #about-buttons .button-cont .button {
    padding: 0.5em;
    font-size: 1em;
    color: white;
    background-color: rgb(53, 0, 213);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    border: none;
    transition: 0.1s;
  }
  #about-buttons .button-cont .button:hover {
    cursor: pointer;
    background-color: rgb(64, 0, 255);
  }

  #logos-card {
    border-radius: 2em 2em 2em 2em;
    position: relative;
    box-shadow: none;
    height: min-content;
    margin: 4em 0em 0em 2em;
    width: 40vw;
    transition: 0.3s;
    overflow: hidden;
    margin: 0em;
    max-height: 10em;
  }
  #logos-card:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 1em;
  }
  #logos-card img {
    align-self: flex-start;
    max-height: 3em;
    transition: 0.1s;
  }
  #logos-card img:hover {
    transform: scale(1.1);
  }

  .download-button {
    border-radius: 2em 2em 2em 2em;
    padding: 2em;
    background-color: rgba(242, 253, 241, 0.1);
    color: rgba(49, 49, 49, 0.867);
    margin: 2em 0em 0em 2em;
    width: 100vw;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .download-button h2 {
    color: rgb(67, 96, 64);
    text-align: left;
    left: 2em;
  }
  .download-button a,
.download-button a:visited {
    padding: 0.5em;
    font-size: 1em;
    color: white;
    background-color: rgb(53, 0, 213);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    border: none;
    transition: 0.1s;
    text-decoration: none;
    color: white;
  }
  .download-button a:hover,
.download-button a:visited:hover {
    cursor: pointer;
    background-color: rgb(64, 0, 255);
  }

  #resume-iframe {
    margin: auto;
    display: inline-block;
  }

  #contact-button {
    padding: 0.5em;
    font-size: 1em;
    color: white;
    background-color: rgb(53, 0, 213);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    border: none;
    transition: 0.1s;
  }
  #contact-button:hover {
    cursor: pointer;
    background-color: rgb(64, 0, 255);
  }
}

/*# sourceMappingURL=style.css.map */
