//COLOURS
$white: rgb(249, 247, 242);
$mint: rgb(217, 235, 201);
$brown: rgb(83, 75, 58);
$dark-brown: rgb(69, 62, 47);
$pine: rgb(67, 96, 64);
$black: rgb(57, 57, 57);
$purple: rgb(76, 0, 255);
$dark-purple: rgb(47, 0, 186);
$lavendar: rgb(145, 152, 229);
$pale-orange: rgb(230, 100, 101);
$clear: rgb(255, 255, 255, 0);
//FONTS
$karla: "Karla", sans-serif;
$rammetto: "Rammetto One", cursive;
$monaco: "Monaco", monospace;
//MIXINS
@mixin box-shadow() {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
@mixin card-border() {
  border-radius: 1rem 1rem 1rem 1rem;
}
//UNIVERSAL
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; // makes it easier to size/pad/margin items
}
html,
body {
  min-height: 120vh;
  overflow-x: hidden;
}
body {
  background-color: $white; //
  position: relative;
  font-size: 1rem;
  list-style: none; //
  header {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    background-color: $white;
    @include box-shadow();
    #header-cont {
      position: absolute;
      // display: inline-block;
      justify-self: flex-end;
      padding-right: 1rem;
      #header-text {
        z-index: 11;
        font-family: $rammetto;
        font-size: 1.7rem;
        color: $dark-brown;
      }
      #header-circle {
        position: absolute;
        top: -4.5rem;
        left: 1.2rem;
        height: 7rem;
        width: 7rem;
        background-color: $purple;
        border-radius: 50%;
        mix-blend-mode: multiply;
      }
    }
  }
  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 4rem;
    #desk-nav-icon {
      display: none;
    }
    #mob-nav-button,
    #desk-nav-button {
      display: none;
    }
    #mob-nav-button:checked ~ #nav-list {
      transform: translateX(0vw);
    }
    #mob-nav-button:checked ~ main {
      transform: translateX(50vw);
    }
    #mob-nav-icon {
      position: fixed;
      padding: 1rem;
      font-size: 2rem;
      // left: 0rem;
      z-index: 999;
      color: $brown;
    }
    #nav-list {
      z-index: 9;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 6rem;
      left: -2rem;
      width: 50vw;
      height: 75vh;
      padding: 5rem;
      background-color: $white;
      @include box-shadow();
      @include card-border();
      transform: translateX(-50vw);
      transition: 0.5s;
      li {
        padding-left: 2rem;
        text-align: center;
        font-family: $karla;
        font-size: 1.5rem;
      }
    }
  }
  p {
    color: $black;
  }
  a {
    text-decoration: none;
    color: $brown;
  }
}
main {
  background-color: $white; //
  position: relative;
  top: 10vh;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 5rem;
  font-family: $karla;
  transform: translateX(0vw);
  transition: 0.5s;
  .button {
    padding: 0.5rem 1rem;
    min-width: 5rem;
    border-style: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: $purple;
    color: white;
    text-align: center;
    font-size: 0.8rem;
  }
  // .space {
  //   height: 5vh;
  // }
  .content {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    // padding-bottom: 0;
    .page-subheading {
      display: none;
    }
    figure {
      margin: 1rem 0;
      img {
        @include card-border();
        width: 100%;
      }
    }
    #about-img-cont {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .modular {
      @include box-shadow;
      background-color: white;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; //
      margin: 1rem 0rem;
      padding: 1rem;
      background-color: $white;
      @include card-border();
      // @include box-shadow(); ////// TURN ON FOR DESK
      h2 {
        text-align: center;
        font-family: $karla;
        color: $dark-brown;
      }
      img {
        @include card-border();
        max-width: 100%;
      }
      label {
        // solved issue of internal links directing to behind fixed header
        position: relative;
        a {
          position: absolute;
          top: -10rem;
        }
      }
      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .expand {
        max-height: 20rem;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 20%
        );
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        transition: 0.5s;
      }
      .expand-icon {
        align-self: center;
        color: $purple;
      }
      #expand-check1:checked ~ #blog1,
      #expand-check2:checked ~ #blog2,
      #expand-check3:checked ~ #blog3,
      #expand-check4:checked ~ #blog4,
      #expand-check5:checked ~ #blog5 {
        max-height: 500rem;
        -webkit-mask-image: none;
        mask-image: none;
      }
      #expand-check1,
      #expand-check2,
      #expand-check3,
      #expand-check4,
      #expand-check5 {
        display: none;
      }
    }
    figcaption {
      text-align: center;
      font-size: 0.8rem;
    }
    .info {
      text-align: center;
    }
    .blog-time {
      text-align: center;
      display: block;
      font-family: $monaco;
      font-size: 0.7rem;
      color: $brown;
    }
    iframe {
      min-height: 50vh;
      // display: none;    //// TURN ON FOR MOBILE/DESKTOP
    }
  }
  .logo {
    width: 50px;
    border-radius: 0%;
  }
}

footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: $white;
  @include box-shadow();
  #footer-text {
    font-family: $karla;
  }
}

//TABLET//

@media only screen and (min-width: 600px) {
  main {
    .content {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 1rem 3rem;
      .card {
        justify-content: center;
        background-color: red;
        min-width: 40%;
      }
      .container {
        justify-content: space-evenly;
        width: 100%;
      }
      #about-img-cont {
        img {
          width: 75%;
        }
      }
    }
  }
}

//LANDSCAPE TABLET/PHONE//
@media only screen and (min-width: 992) {
  .card {
    background-color: blue;
  }
}
