//COLOURS
$white: rgb(249, 247, 242);
$mint: rgb(217, 235, 201);
$brown: rgb(83, 75, 58);
$dark-brown: rgb(69, 62, 47);
$pine: rgb(67, 96, 64);
$black: rgb(57, 57, 57);
$light-purple: rgb(116, 56, 255);
$purple: rgb(76, 0, 255);
$dark-purple: rgb(35, 0, 139);
$lavendar: rgb(145, 152, 229);
$pale-orange: rgb(230, 100, 101);
$clear: rgb(255, 255, 255, 0);
//FONTS
$karla: "Karla", sans-serif;
$rammetto: "Rammetto One", cursive;
$monaco: "Monaco", monospace;
//MIXINS
@mixin box-shadow() {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
@mixin card-border() {
  border-radius: 1rem 1rem 1rem 1rem;
}
@mixin purple-gradient() {
  background-image: linear-gradient(
    120deg,
    $light-purple,
    $purple,
    $dark-purple
  );
}
//UNIVERSAL
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; // makes it easier to size/pad/margin items
}
html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  background-color: $white; //
  position: relative;
  font-size: 1rem;
  list-style: none; //
  header {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    background-color: $white;
    @include box-shadow();
    #header-cont {
      position: absolute;
      justify-self: flex-end;
      padding-right: 1rem;
      pointer-events: none;
      #header-text {
        z-index: 11;
        font-family: $rammetto;
        font-size: 1.7rem;
        color: $dark-brown;
        &::selection {
          background-color: transparent;
        }
      }
      #header-circle {
        position: absolute;
        top: -4.5rem;
        left: 1.2rem;
        height: 7rem;
        width: 7rem;
        background-color: $purple;
        border-radius: 50%;
        mix-blend-mode: multiply;
      }
    }
  }
  #main-container {
    width: 100vw;
    height: 4rem;
    #desk-nav-icon {
      display: none;
    }
    #nav-check {
      display: none;
    }
    #nav-check:checked ~ nav {
      transform: translateX(0vw);
    }
    #nav-check:checked ~ main {
      transform: translateX(50vw);
    }
    #mob-nav-icon {
      position: fixed;
      padding: 1rem;
      padding-left: 5vw; //
      font-size: 2rem;
      z-index: 999;
      color: $brown;
    }
    nav {
      z-index: 9;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6rem;
      left: -2rem;
      width: 50vw;
      height: 75vh;
      padding: 5rem;
      background-color: $white;
      @include box-shadow();
      @include card-border();
      transform: translateX(-50vw);
      transition: 0.5s;
      &:hover {
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
      }
      #nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        list-style: none;
        li {
          padding-left: 2rem;
          text-align: center;
          font-family: $karla;
          font-size: 1.5rem;
        }
      }
    }
  }
  p {
    color: $black;
  }
  a {
    text-decoration: none;
    color: $brown;
  }
}
main {
  background-color: $white; //
  position: relative;
  top: 4rem;
  min-height: 100vh;
  min-width: 100vw;
  // padding: 0;
  padding: 0 0 5rem 0;
  font-family: $karla;
  transform: translateX(0vw);
  transition: 0.5s;
  .button {
    padding: 0.5rem 1rem;
    min-width: 5rem;
    border-style: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    @include purple-gradient();
    background-size: 200% 100%;
    background-position: 100% 0;
    filter: hue-rotate(0);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-position: 0 0;
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $white;
    .page-subheading {
      display: none;
    }
    .dropdown-cont {
      margin: 1rem;
      // position: fixed;
      // top: 10rem;
      // left: 2rem;
      // display: flex;
      // justify-content: center;
      text-align: center;
      width: 100vw; // prevents wrap
      .dropdown-icon {
        cursor: pointer;
      }
      .dropdown-list {
        display: none;
        list-style: none;
      }
      #dropdown-check:checked ~ .dropdown-list {
        display: block;
      }
      #dropdown-check {
        display: none;
      }
    }
    figure {
      margin: 1rem 0;
      img {
        display: block;
        margin: 1rem auto; //
        max-width: 100%; //
        @include card-border();
      }
    }
    #about-img-cont {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      img {
        max-width: 100%;
        @include card-border();
        @include box-shadow();
      }
    }
    .modular {
      min-height: 5rem;
      height: min-content;
      margin: 1rem; //
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: space-evenly; //
      width: 100%;
    }
    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; //
      margin: 1rem 0rem;
      padding: 1rem;
      background-color: white; //
      @include card-border();
      @include box-shadow(); ////// TURN ON FOR DESK
      transition: 0.2s;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
      }
      h2 {
        text-align: center;
        font-family: $karla;
        color: $dark-brown;
      }
      label {
        // solved issue of internal links directing to behind fixed header
        position: relative;
        a {
          position: absolute;
          top: -10rem;
        }
      }
      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .expand {
        max-height: 20rem;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1) 20%
        );
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        transition: 0.5s;
      }
      .expand-icon {
        align-self: center;
        color: $purple;
        cursor: pointer;
      }
      #expand-check1:checked ~ #blog1,
      #expand-check2:checked ~ #blog2,
      #expand-check3:checked ~ #blog3,
      #expand-check4:checked ~ #blog4,
      #expand-check5:checked ~ #blog5 {
        max-height: 500rem;
        -webkit-mask-image: none;
        mask-image: none;
      }
      #expand-check1,
      #expand-check2,
      #expand-check3,
      #expand-check4,
      #expand-check5 {
        display: none;
      }
    }
    figcaption {
      text-align: center;
      font-size: 0.8rem;
    }
    .info {
      min-width: 15rem;
      text-align: center;
    }
    .blog-time {
      text-align: center;
      display: block;
      font-family: $monaco;
      font-size: 0.7rem;
      color: $brown;
    }
    iframe {
      min-height: 50vh;
      // display: none;    //// TURN ON FOR MOBILE/DESKTOP
    }
    .doc {
      width: 100%;
    }
  }
  .logo {
    width: 50px;
    border-radius: 0%;
    &:hover {
      transform: scale(1.01);
    }
  }
}

footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: $white;
  @include box-shadow();
  #footer-text {
    font-family: $karla;
  }
}

//TABLET & LANDSCAPE PHONE//
@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
    #main-container {
      #mob-nav-icon {
        padding-left: 3vw;
      }
    }
    main {
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 3rem;
        .card {
          justify-content: center;
        }
        .modular {
          min-width: 20rem; //
          width: 100%; //
          margin: 1rem; //
        }
        #about-img {
          max-width: 500px;
        }
        // .doc {
        //   width: 80%;
        // }
      }
    }
  }
}

//DESKTOP//
@media only screen and (min-width: 992px) {
  body {
    header {
      position: relative;
      height: 7rem;
      box-shadow: none;
      #header-cont {
        transform: scale(2);
        padding-right: 5rem;
      }
    }
    #main-container {
      position: absolute;
      top: 0;
      height: 7rem;
      #nav-button {
        position: relative;
        text-align: center;
        line-height: 300%;
        #mob-nav-icon {
          display: none;
        }
        #desk-nav-icon {
          z-index: 999;
          display: inline-block;
          position: fixed;
          padding: 1rem;
          font-size: 2rem;
          color: $brown;
          transition: 1s;
          #menu-text {
            font-family: $karla;
            font-size: 2rem;
            transition: 0.2s;
            &::selection {
              background-color: transparent;
            }
          }
          #arrows {
            position: absolute;
            display: block;
            left: -2rem;
            transition: 0.2s;
            .arrow {
              display: block;
              font-size: 1.5rem;
              -webkit-text-stroke: 2px $white;
              // margin: -1px;
              transform: scale(1.8, 1);
            }
          }
        }
        #menu-text:hover {
          cursor: pointer;
          transform: translateX(0.5rem);
        }
        #menu-text:hover ~ #arrows {
          transform: translateX(5.5rem);
        }
      }
      nav {
        margin-top: 8rem;
        width: 25vw;
        transform: translateX(-25vw);
      }
      #nav-check:checked ~ nav {
        transform: translateX(0vw);
      }
      #nav-check:checked ~ main {
        transform: translateX(25vw);
      }
      main {
        top: 7rem;
        padding-left: 5rem;
        .content {
          .card {
          }
          .article {
            max-width: 60rem;
          }
          .modular {
            width: 40%; //
          }
        }
      }
    }
  }
}
