* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: rgb(249, 247, 242);
  position: relative;
  font-size: 1rem;
  list-style: none;
}
body header {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
body header #header-cont {
  position: absolute;
  justify-self: flex-end;
  padding-right: 1rem;
  pointer-events: none;
}
body header #header-cont #header-text {
  z-index: 11;
  font-family: "Rammetto One", cursive;
  font-size: 1.7rem;
  color: rgb(69, 62, 47);
}
body header #header-cont #header-text::selection {
  background-color: transparent;
}
body header #header-cont #header-circle {
  position: absolute;
  top: -4.5rem;
  left: 1.2rem;
  height: 7rem;
  width: 7rem;
  background-color: rgb(76, 0, 255);
  border-radius: 50%;
  mix-blend-mode: multiply;
}
body #desk-nav-icon {
  display: none;
}
body #nav-check {
  display: none;
}
body #nav-check:checked ~ nav {
  transform: translateX(0vw);
}
body #nav-check:checked ~ main {
  transform: translateX(50vw);
}
body #mob-nav-icon {
  z-index: 999;
  position: fixed;
  padding: 1rem;
  padding-left: 5vw;
  font-size: 2rem;
  color: rgb(83, 75, 58);
}
body nav {
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  left: -2rem;
  width: 50vw;
  height: 75vh;
  padding: 5rem;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  border-radius: 1rem 1rem 1rem 1rem;
  transform: translateX(-50vw);
  transition: 0.5s;
}
body nav:hover {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
}
body nav #nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
body nav #nav-list li {
  padding-left: 2rem;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
}
body p {
  color: rgb(57, 57, 57);
}
body a {
  text-decoration: none;
  color: rgb(83, 75, 58);
}

main {
  background-color: rgb(249, 247, 242);
  position: relative;
  top: 4rem;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0 5rem 0;
  font-family: "Karla", sans-serif;
  transform: translateX(0vw);
  transition: 0.5s;
}
main .button {
  padding: 0.5rem 1rem;
  min-width: 5rem;
  border-style: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  background-image: linear-gradient(120deg, rgb(116, 56, 255), rgb(76, 0, 255), rgb(35, 0, 139));
  background-size: 200% 100%;
  background-position: 100% 0;
  filter: hue-rotate(0);
  transition: 0.3s;
  cursor: pointer;
}
main .button:hover {
  background-position: 0 0;
}
main .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
}
main .content .page-subheading {
  display: none;
}
main .content .dropdown-cont {
  margin: 1rem;
  text-align: center;
  width: 100vw;
}
main .content .dropdown-cont .dropdown-icon {
  cursor: pointer;
}
main .content .dropdown-cont .dropdown-list {
  display: none;
  list-style: none;
}
main .content .dropdown-cont #dropdown-check:checked ~ .dropdown-list {
  display: block;
}
main .content .dropdown-cont #dropdown-check {
  display: none;
}
main .content figure {
  margin: 1rem 0;
}
main .content figure img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
}
main .content #about-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
main .content #about-img-cont img {
  max-width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
main .content .modular {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5rem;
  height: min-content;
  margin: 1rem;
}
main .content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 100%;
}
main .content .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  transition: 0.2s;
}
main .content .card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
}
main .content .card h2 {
  text-align: center;
  font-family: "Karla", sans-serif;
  color: rgb(69, 62, 47);
}
main .content .card label {
  position: relative;
}
main .content .card label a {
  position: absolute;
  top: -10rem;
}
main .content .card form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .content .card .expand {
  max-height: 20rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  transition: 0.5s;
}
main .content .card .expand-icon {
  align-self: center;
  color: rgb(76, 0, 255);
  cursor: pointer;
}
main .content .card #expand-check1:checked ~ #blog1,
main .content .card #expand-check2:checked ~ #blog2,
main .content .card #expand-check3:checked ~ #blog3,
main .content .card #expand-check4:checked ~ #blog4,
main .content .card #expand-check5:checked ~ #blog5 {
  max-height: 500rem;
  -webkit-mask-image: none;
  mask-image: none;
}
main .content .card #expand-check1,
main .content .card #expand-check2,
main .content .card #expand-check3,
main .content .card #expand-check4,
main .content .card #expand-check5 {
  display: none;
}
main .content figcaption {
  text-align: center;
  font-size: 0.8rem;
}
main .content .info {
  min-width: 15rem;
  text-align: center;
}
main .content .blog-time {
  text-align: center;
  display: block;
  font-family: "Monaco", monospace;
  font-size: 0.7rem;
  color: rgb(83, 75, 58);
}
main .content iframe {
  min-height: 50vh;
}
main .content .doc {
  width: 100%;
}
main .logo {
  width: 50px;
  border-radius: 0%;
}
main .logo:hover {
  transform: scale(1.01);
}

footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
footer #footer-text {
  font-family: "Karla", sans-serif;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
  body #mob-nav-icon {
    padding-left: 3vw;
  }
  body main .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
  }
  body main .content .card {
    justify-content: center;
  }
  body main .content .modular {
    min-width: 20rem;
    width: 100%;
    margin: 1rem;
  }
  body main .content #about-img {
    max-width: 500px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    position: relative;
  }
  body header {
    position: relative;
    height: 6rem;
    box-shadow: none;
  }
  body header #header-cont {
    transform: scale(1.5);
    padding-right: 5rem;
  }
  body #nav-button {
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 300%;
  }
  body #nav-button #mob-nav-icon {
    display: none;
  }
  body #nav-button #desk-nav-icon {
    z-index: 999;
    display: inline-block;
    position: fixed;
    padding: 1rem;
    font-size: 2rem;
    color: rgb(83, 75, 58);
    transition: 1s;
  }
  body #nav-button #desk-nav-icon #menu-text {
    font-family: "Karla", sans-serif;
    font-size: 2rem;
    transition: 0.2s;
  }
  body #nav-button #desk-nav-icon #menu-text::selection {
    background-color: transparent;
  }
  body #nav-button #desk-nav-icon #arrows {
    position: absolute;
    display: block;
    left: -2rem;
    transition: 0.2s;
  }
  body #nav-button #desk-nav-icon #arrows .arrow {
    display: block;
    font-size: 1.5rem;
    -webkit-text-stroke: 2px rgb(249, 247, 242);
    transform: scale(1.8, 1);
  }
  body #nav-button #menu-text:hover {
    cursor: pointer;
    transform: translateX(0.5rem);
  }
  body #nav-button #menu-text:hover ~ #arrows {
    transform: translateX(5.5rem);
  }
  body nav {
    top: 2rem;
    width: 25vw;
    height: 60vh;
    margin-bottom: 10rem;
    transform: translateX(-25vw);
  }
  body #nav-check:checked ~ nav {
    transform: translateX(0vw);
  }
  body #nav-check:checked ~ main {
    transform: translateX(25vw);
  }
  body main {
    padding-left: 5rem;
  }
  body main .content .article {
    max-width: 60rem;
  }
  body main .content .modular {
    width: 40%;
  }
}

/*# sourceMappingURL=tidy.css.map */
