* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 120vh;
  overflow-x: hidden;
}

body {
  background-color: rgb(249, 247, 242);
  position: relative;
  list-style: none;
}
body header {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
body header #header-cont {
  position: relative;
  display: inline-block;
  padding-left: 1rem;
}
body header #header-cont #header-text {
  z-index: 11;
  font-family: "Rammetto One", cursive;
  font-size: 1.7rem;
  color: rgb(69, 62, 47);
}
body header #header-cont #header-circle {
  position: absolute;
  top: -4.5rem;
  left: 1.2rem;
  height: 7rem;
  width: 7rem;
  background-color: rgb(76, 0, 255);
  border-radius: 50%;
  mix-blend-mode: multiply;
}
body .button {
  padding: 0.5rem;
  min-width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(76, 0, 255);
  color: white;
}
body #main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 4rem;
}
body #main-container #desk-nav-icon {
  display: none;
}
body #main-container #mob-nav-button,
body #main-container #desk-nav-button {
  display: none;
}
body #main-container #mob-nav-button:checked ~ #nav-list {
  transform: translateX(0vw);
}
body #main-container #mob-nav-button:checked ~ main {
  transform: translateX(50vw);
}
body #main-container #mob-nav-icon {
  position: fixed;
  padding: 1rem;
  font-size: 2rem;
  right: 0rem;
  z-index: 999;
  color: rgb(83, 75, 58);
}
body #main-container #nav-list {
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  left: -2rem;
  width: 50vw;
  height: 75vh;
  padding: 5rem;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  border-radius: 1rem 1rem 1rem 1rem;
  transform: translateX(-50vw);
  transition: 0.5s;
}
body #main-container #nav-list li {
  padding-left: 2rem;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
}
body p {
  color: rgb(57, 57, 57);
}
body a {
  text-decoration: none;
  color: rgb(83, 75, 58);
}

main {
  background-color: rgb(249, 247, 242);
  position: relative;
  top: 10vh;
  min-height: 100vh;
  min-width: 100vw;
  margin-bottom: 5rem;
  font-family: "Karla", sans-serif;
  transform: translateX(0vw);
  transition: 0.5s;
}
main .content {
  background-color: rgb(249, 247, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  padding-bottom: 0;
}
main .content .page-subheading {
  display: none;
}
main .content figure {
  margin: 1rem 0;
}
main .content figure img {
  border-radius: 1rem 1rem 1rem 1rem;
  max-width: 100%;
}
main .content #about-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
main .content .modular {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  background-color: white;
}
main .content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .content .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
  border-radius: 1rem 1rem 1rem 1rem;
}
main .content .card h2 {
  text-align: center;
  font-family: "Karla", sans-serif;
  color: rgb(69, 62, 47);
}
main .content .card img {
  border-radius: 1rem 1rem 1rem 1rem;
  max-width: 100%;
}
main .content .card label {
  position: relative;
}
main .content .card label a {
  position: absolute;
  top: -10rem;
}
main .content .card form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .content .card .expand {
  max-height: 20rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  transition: 0.5s;
}
main .content .card .expand-icon {
  align-self: center;
  color: rgb(76, 0, 255);
}
main .content .card #expand-check1:checked ~ #blog1,
main .content .card #expand-check2:checked ~ #blog2,
main .content .card #expand-check3:checked ~ #blog3,
main .content .card #expand-check4:checked ~ #blog4,
main .content .card #expand-check5:checked ~ #blog5 {
  max-height: 500rem;
  -webkit-mask-image: none;
  mask-image: none;
}
main .content .card #expand-check1,
main .content .card #expand-check2,
main .content .card #expand-check3,
main .content .card #expand-check4,
main .content .card #expand-check5 {
  display: none;
}
main .content figcaption {
  text-align: center;
  font-size: 0.8rem;
}
main .content .info {
  text-align: center;
}
main .content .blog-time {
  font-family: "Monaco", monospace;
  font-size: 0.7rem;
  color: rgb(83, 75, 58);
}
main .content iframe {
  min-height: 50vh;
}
main .logo {
  width: 50px;
  border-radius: 0%;
}

footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
footer #footer-text {
  font-family: "Karla", sans-serif;
}

/*# sourceMappingURL=tidy.css.map */
