* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: rgb(249, 247, 242);
  position: relative;
  font-size: 1rem;
}
body header {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
body header #header-cont {
  position: absolute;
  padding-right: 1rem;
  pointer-events: none;
}
body header #header-cont #header-text {
  z-index: 11;
  font-family: "Spline Sans Mono", monospace;
  font-size: 2rem;
  color: rgb(83, 75, 58);
}
body header #header-cont #header-text::selection {
  background-color: transparent;
}
body header #header-cont #header-circle {
  position: absolute;
  top: -4.5rem;
  left: 0.5rem;
  height: 7rem;
  width: 7rem;
  background-color: rgb(76, 0, 255);
  border-radius: 50%;
  mix-blend-mode: lighten;
}
body #desk-nav-icon {
  display: none;
}
body #nav-check {
  display: none;
}
body #nav-check:checked ~ #nav-main {
  transform: translateX(0vw);
}
body #nav-check:checked ~ main {
  transform: translateX(50vw);
}
body #mob-nav-icon {
  z-index: 999;
  position: fixed;
  padding: 1rem;
  padding-left: 5vw;
  font-size: 2rem;
  color: rgb(83, 75, 58);
}
body #nav-main {
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  left: -2rem;
  width: 50vw;
  height: 60vh;
  max-height: 30rem;
  padding: 2rem 0;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  border-radius: 1rem 1rem 1rem 1rem;
  transform: translateX(-50vw);
  transition: 0.5s;
}
body #nav-main:hover {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
}
body #nav-main #nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
body #nav-main #nav-list li {
  padding-left: 2rem;
  text-align: center;
  font-family: "Spline Sans Mono", monospace;
  font-size: 1.2rem;
}
body #nav-main #nav-list li a {
  color: rgb(76, 0, 255);
}
body p {
  color: rgb(57, 57, 57);
}
body a {
  text-decoration: none;
  color: rgb(76, 0, 255);
}

main {
  background-color: rgb(249, 247, 242);
  position: relative;
  top: 4rem;
  min-width: 100vw;
  padding: 0 0 5rem 0;
  font-family: "Karla", sans-serif;
  transform: translateX(0vw);
  transition: 0.5s;
}
main .button {
  padding: 0.5rem 1rem;
  min-width: 5rem;
  border-style: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Spline Sans Mono", monospace;
  color: white;
  background-image: linear-gradient(to right, rgb(116, 56, 255), rgb(76, 0, 255));
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: 0.3s;
  cursor: pointer;
}
main .button:hover {
  background-position: 0 0;
}
main .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
}
main .content .top-card {
  text-align: center;
  max-width: 40rem;
}
main .content .top-card h2 {
  font-family: "Spline Sans Mono", monospace;
  font-size: 2rem;
  color: rgb(76, 0, 255);
}
main .content #page-sub {
  display: none;
}
main .content .nav-sub {
  margin: 1rem;
  text-align: center;
  border-radius: 50%;
}
main .content .nav-sub .dropdown-icon {
  font-family: "Spline Sans Mono", monospace;
  color: rgb(76, 0, 255);
  cursor: pointer;
  transition: 0.2s;
}
main .content .nav-sub .dropdown-icon .down-arrows {
  transition: 0.2s;
}
main .content .nav-sub .dropdown-icon a {
  color: rgb(76, 0, 255);
}
main .content .nav-sub .dropdown-icon a:hover ~ .down-arrows {
  transform: translateY(0.2rem);
}
main .content .nav-sub .dropdown-list {
  display: none;
  list-style: none;
}
main .content .nav-sub .dropdown-list li {
  margin: 1rem;
}
main .content .nav-sub .dropdown-list li a {
  font-family: "Spline Sans Mono", monospace;
  color: rgb(76, 0, 255);
}
main .content .nav-sub #dropdown-check:checked ~ .dropdown-list {
  display: block;
}
main .content .nav-sub #dropdown-check {
  display: none;
}
main .content figure {
  margin: 1rem 0;
}
main .content figure img {
  display: block;
  margin: 1rem auto;
  width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
}
main .content #about-img-cont {
  align-self: center;
  padding: 0;
  margin: 0;
}
main .content #about-img-cont img {
  max-width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
main .content #about-img-cont figcaption {
  margin-top: -1rem;
}
main .content .modular {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5rem;
  height: min-content;
  width: 100%;
}
main .content .wide-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
main .content .card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  padding: 1rem;
  max-width: 40rem;
  background-color: rgb(249, 247, 242);
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
  transition: 0.2s;
}
main .content .card:hover {
  transform: scale(1.01);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.669);
}
main .content .card h2,
main .content .card h3 {
  text-align: center;
  font-family: "Monaco", monospace;
  color: rgb(83, 75, 58);
}
main .content .card h2 {
  font-size: 1.3rem;
}
main .content .card h3 {
  font-size: 1rem;
}
main .content .card .card-list {
  text-align: center;
  margin: 1rem;
}
main .content .card .card-list h3 {
  font-size: 1rem;
}
main .content .card .card-list-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
main .content .card .card-list-grid div {
  margin: 0.5rem;
}
main .content .card .card-list-grid div ul {
  list-style: none;
}
main .content .card .card-list-grid div ul li {
  font-family: "Spline Sans Mono", monospace;
  color: rgb(57, 57, 57);
  font-size: 0.9rem;
}
main .content .card figure img {
  width: 80%;
  max-width: 500px;
}
main .content .card .anchor {
  position: absolute;
  top: -10rem;
}
main .content .card label, main .content .card span {
  position: relative;
}
main .content .card label a, main .content .card span a {
  position: absolute;
  top: -10rem;
}
main .content .card ul {
  text-align: center;
  list-style: none;
}
main .content .card ul li img {
  width: 80%;
  max-width: 300px;
}
main .content .card form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .content .card .expand {
  max-height: 20rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  transition: 0.5s;
}
main .content .card .expand-icon {
  align-self: center;
  color: rgb(76, 0, 255);
  cursor: pointer;
  transition: 0.2s;
}
main .content .card .expand-icon:hover {
  color: rgb(35, 0, 139);
}
main .content .card #expand-check1:checked ~ #card1,
main .content .card #expand-check2:checked ~ #card2,
main .content .card #expand-check3:checked ~ #card3,
main .content .card #expand-check4:checked ~ #card4,
main .content .card #expand-check5:checked ~ #card5 {
  max-height: 500rem;
  -webkit-mask-image: none;
  mask-image: none;
}
main .content .card #expand-check1,
main .content .card #expand-check2,
main .content .card #expand-check3,
main .content .card #expand-check4,
main .content .card #expand-check5 {
  display: none;
}
main .content .card #card2 {
  justify-self: baseline;
}
main .content figcaption {
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 0.7rem;
}
main .content .info {
  min-width: 15rem;
  text-align: center;
}
main .content .card-time {
  text-align: center;
  display: block;
  font-family: "Monaco", monospace;
  font-size: 0.7rem;
  color: rgb(83, 75, 58);
}
main .content iframe {
  min-height: 50vh;
}
main .content .doc {
  width: 100%;
}
main .logo {
  width: 50px;
  border-radius: 0%;
  transition: 0.2s;
}
main .logo:hover {
  transform: scale(1.05);
}

footer {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  bottom: 0vh;
  padding: 1rem;
  background-color: rgb(249, 247, 242);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.669);
}
footer #footer-text {
  font-family: "Karla", sans-serif;
}

#welcome-text {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, rgb(76, 0, 255), rgb(69, 62, 47), rgb(35, 0, 139));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: welcome-animation 2s infinite;
}
#welcome-text::first-letter {
  font-size: 300%;
  color: rgb(35, 0, 139);
}

@keyframes welcome-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }
  body #welcome-text {
    font-size: 5rem;
  }
  body #mob-nav-icon {
    padding-left: 3vw;
  }
  body #nav-check:checked ~ main {
    transform: translateX(10rem);
  }
  body #nav-main {
    width: 25vw;
    max-width: 10rem;
    transform: translateX(-10rem);
  }
  body main .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 3rem;
  }
  body main .content .card {
    justify-content: center;
  }
  body main .content .modular {
    min-width: 20rem;
    width: 100%;
    margin: 1rem;
  }
  body main .content #about-img {
    max-width: 500px;
  }
  body main .content #page-sub {
    z-index: 999;
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    overflow: hidden;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: rgb(83, 75, 58);
  }
}
@media only screen and (min-width: 992px) {
  body {
    position: relative;
  }
  body header {
    position: relative;
    height: 6rem;
    box-shadow: none;
  }
  body header #header-cont {
    transform: scale(1.5);
    padding-right: 5rem;
  }
  body #nav-button {
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 300%;
  }
  body #nav-button #mob-nav-icon {
    display: none;
  }
  body #nav-button #desk-nav-icon {
    z-index: 999;
    display: inline-block;
    position: fixed;
    padding: 2rem 0 2rem 1rem;
    font-size: 2rem;
    color: rgb(83, 75, 58);
    transition: 1s;
  }
  body #nav-button #desk-nav-icon #menu-text {
    font-family: "Monaco", monospace;
    font-size: 2rem;
    transition: 0.2s;
  }
  body #nav-button #desk-nav-icon #menu-text::selection {
    background-color: transparent;
  }
  body #nav-button #desk-nav-icon #arrows {
    position: absolute;
    display: block;
    left: -2rem;
    transition: 0.2s;
  }
  body #nav-button #desk-nav-icon #arrows .arrow {
    display: block;
    font-size: 1.2rem;
    -webkit-text-stroke: 2px rgb(249, 247, 242);
    transform: scale(1.8, 1);
  }
  body #nav-button #menu-text:hover {
    cursor: pointer;
    transform: translateX(0.5rem);
  }
  body #nav-button #menu-text:hover ~ #arrows {
    transform: translateX(5rem);
  }
  body #nav-main {
    top: 2rem;
    max-width: 13rem;
    height: 60vh;
    margin-bottom: 10rem;
    transform: translateX(-13rem);
    align-items: flex-start;
  }
  body #nav-main li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 1rem;
  }
  body #nav-main li a::before {
    content: "cd ./";
    color: rgb(76, 0, 255);
    font-family: "Monaco", monospace;
    font-size: 1rem;
    opacity: 0;
    transition: 0.1s;
  }
  body #nav-main li a:hover::before {
    opacity: 1;
  }
  body #nav-check:checked ~ #nav-main {
    transform: translateX(0);
  }
  body #nav-check:checked ~ main {
    transform: translateX(13rem);
  }
  body main {
    top: 0;
    padding-left: 5rem;
  }
  body main .content {
    flex-wrap: wrap;
  }
  body main .content .top-card h2 {
    font-size: 3rem;
  }
  body main .content .modular {
    width: 40%;
  }
  body main .content .gallery {
    max-width: 20rem;
  }
  body main .content .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
  }
  body main .content .column .card {
    width: 100%;
    min-width: 20rem;
  }
}

/*# sourceMappingURL=tidy.css.map */
